.info {
    border: 1px solid black;
    padding: 1rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.name {
    border: 1px solid black;
    padding: 1rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.name  .heading{
      font: 600;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub td{
   padding-left: 2rem;
}